@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

button {
  width: 100px;
  height: 20px;
  margin-right: 5px;
}

#post {
  width: 100px;
  height: 66px;
}

#colordiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  height: 66px;
  overflow-y: scroll;
  margin-right: 5px;
}

input {
  width: 200px;
  height: 16px;
  margin-right: 5px;
}

#designer{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
}
#colorwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin-right: 5px;
  width: 150px;
}
#colorwrap2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 150px;
  height: 100px;
}
#colorwrap2 input {
  width: 141px;
  height: 28px;
  margin-bottom: 2px;
}
#colorwrap2 button {
  width: 149px;
  height: 30px;
}
#buttonwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}
#buttonwrap1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}
button {
  width: 100px;
  margin-bottom: 3px;
}
#main{
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  overflow-y: auto;
  height: 100%;
  font-family: Comfortaa;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
#grid, td{
  border: 1px solid;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
td{
  width: 40px;
  height: 40px;
}

#color{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: inline-block;
  border: 1px solid;
  background-color: #00000000;
  font-size: 15px;
  margin-bottom: 5px;
}
#output{
  border-radius: 0;
  border: 0.5px solid;
  width: calc(100% - 10px);
  height: 500px;
  display: block;
  overflow: auto;
}
h1 {
  margin-top: 5px;
}