@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');

@font-face{
  src: url('DejaVuSans.ttf');
  font-family: FreeSans
}
#body {
	overflow: hidden;
	user-select: none;
}
canvas {
	width: 100%; 
	height: 100%;
	z-index: 0;
	padding: 0;
	cursor: none;
}
#main{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
#canvascontainer{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
#percentwrap{
  position: fixed;
  right: 20px;
  top: 20px;
  color: white;
  font-size: 4vw;
  font-family: Comfortaa;
  font-weight: 300;
}
#play{
  width: 24vw;
  height: 12vw;
  left: calc(50% - 24vw / 2);
  bottom: 2.4vw;
  font-size: 10vw;
}
#menu{
  width: 12vw;
  height: 6vw;
  left: 1.2vw;
  top: 1.2vw;
  font-size: 8vw;
  text-decoration: none;
}
#sd{
  width: 12vw;
  height: 6vw;
  left: 1.2vw;
  top: 8.4vw;
  font-size: 6vw;
  border: none;
  padding-bottom: 1vw;
}
#sdd{
  width: 12vw;
  height: 6vw;
  left: 1.2vw;
  top: 15.6vw;
  font-size: 6vw;
  border: none;
}
#retry{
  width: 24vw;
  height: 12vw;
  left: calc(50% - 24vw / 2);
  bottom: 2.4vw;
  font-size: 10vw;
}
#next{
  width: 12vw;
  height: 8.4vw;
  right: 1.2vw;
  bottom: 2.4vw;
  font-size: 6vw;
}
#prev{
  width: 12vw;
  height: 8.4vw;
  left: 1.2vw;
  bottom: 2.4vw;
  font-size: 6vw;
}
.button{
  position: fixed;
  background-color: #e0e0e0;
  color: #616161;
  font-family: FreeSans;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover{
  background-color: #bdbdbd;
}
#score{
  position: fixed;
  top: 20%;
  left: calc(50% - 36vw / 2);
  width: 36vw;
  font-family: Comfortaa;
  font-weight: 300;
  font-size: 12vw;
  text-align: center;
  color: #e0e0e0;
}
#scoreboard{
  position: fixed;
  top: 150px;
  width: 100%;
  height: 200px;
  text-align: center;
}
#name{
  width: 200px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
}
#level-d{
  color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-family: Comfortaa Light;
  font-weight: 300;
  font-size: 30px;
}
#level-d:hover{
  color: #ddd;
}
#mainmenu {
  background-image: url('lit.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;
  margin: 0cm;
}
#formmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bfo {
  border-radius: 2vw;
  width: 50vw;
  height: 10vh;
  background-color: rgba(255, 135, 0, 0.36);
  border-color: rgba(255, 135, 0, 0.7);
  border-width: 0.5vw;
  border-style: inset;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(90, 48, 0);
  caret-color: rgb(90, 48, 0);
  font-family: Comfortaa;
  margin-top: 2vw;
  margin-bottom: 2vw;
  text-decoration: none;
  font-size: 3vh;
  transition-duration: 200ms;
}
.bfw::placeholder {
  color: bisque;
}
.bfw::-ms-input-placeholder {
  color: bisque;
}
.bfw {
  border-radius: 2vw;
  width: 50vw;
  height: 10vh;
  background-color: rgba(255, 135, 0, 0.36);
  border-color: rgba(255, 135, 0, 0.7);
  border-width: 0.5vw;
  border-style: inset;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(56, 30, 0);
  font-family: Comfortaa;
  margin: 10px;
  text-decoration: none;
  font-size: 3vh;
  transition-duration: 200ms;
}
.bfo:hover {
  background-color: rgba(214, 114, 0, 0.36);
  border-radius: 0.5vw;
}
.bfw:hover {
  background-color: rgba(214, 114, 0, 0.36);
  border-radius: 0.5vw;
}
.bfo:active {
  background-color: rgba(185, 99, 0, 0.36);
  border-radius: 1vw;
}
.bfw:focus {
  background-color: rgba(185, 99, 0, 0.36);
  border-radius: 1vw;
}